# PyCMDS folders
data/
logs/
autonomic/files/
somatic/saved/
somatic/temp/
hardware/opas/pico/OPA2 curves/
hardware/opas/pico/OPA3 curves/
hardware/opas/TOPAS_C/OPA1 (10743) curves/
hardware/opas/TOPAS_C/OPA2 (10742) curves/
hardware/opas/TOPAS_C/configuration
hardware/opas/TOPAS_C/manuals
hardware/opas/TOPAS_800/configuration
hardware/opas/TOPAS_800/manuals
hardware/opas/TOPAS_800/OPA1 (16426) curves/

# PyCMDS config files
*.ini
!main.ini

# Google Drive Credentials
*.json
*mycreds.txt

# PDFs
*.pdf
!PyCMDS Manual.pdf

# drivers
*devcon.exe

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Python compiled files
*.pyc

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
modules/_play.py
modules/2D_Delay_scan.py
