# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Python compiled files
*.pyc

# Bots needs to be private..
bots.ini

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
modules/_play.py
modules/2D_Delay_scan.py
library/precision_micro_motors/precision_motors.ini
opas/pico/OPA2 curves/Old_curves/
opas/pico/OPA1 curves/Old_curves/
opas/pico/OPA3 curves/Old_curves/
